<h1>Add product</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% comment %} {{ form.as_p }} {% endcomment %}
 

    <div class="mb-4">
    <label for="{{ form.name.id_for_label }}" class="block text-sm font-medium">Name</label>
    {{ form.name }}
    {% if form.name.errors %}
      <p class="text-red-500 text-sm">{{ form.name.errors }}</p>
    {% endif %}
    </div>
    <div class="mb-4">
        <label for="{{ form.description.id_for_label }}" class="block text-sm font-medium">Description</label>
        {{ form.description }}
        {% if form.price.errors %}
        <p class="text-red-500 text-sm">{{ form.price.errors }}</p>
        {% endif %}
    </div>
    <div class="mb-4">
        <label for="{{ form.price.id_for_label }}" class="block text-sm font-medium">Price</label>
        {{ form.price }}
        {% if form.price.errors %}
        <p class="text-red-500 text-sm">{{ form.price.errors }}</p>
        {% endif %}
    </div>
    <div class="mb-4">
        <label class="inline-flex items-center">
            <span class="ml-2 text-sm text-gray-700">{{ form.available.label }}</span>
            {{ form.available }}
           
        </label>

        {% if form.available.errors %}
            <p class="text-red-500 text-sm">{{ form.available.errors }}</p>
        {% endif %}
    </div>
    <div class="mb-4">
        <label for="id_photo" class="inline-flex items-center">
            <span class="ml-2 text-sm text-gray-700">Upload Photo</span>
            {{ form.photo }}
        </label>

        {% if form.available.errors %}
            <p class="text-red-500 text-sm">{{ form.photo.errors }}</p>
        {% endif %}
    </div>
       <button type="submit">Add</button>
   
        <button type="button" class="btn">Basic</button>

</form>