<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width, initial-scale: 1.0">
        <title>Authors</title>
    </head>
    <body>
        <h1>{{ author.name }}</h1>

            <p><strong>Birth date:</strong> {{ author.birth_date }}</p>

            <p><strong>Biography:</strong></p>
            <p>{{ author.biography }}</p>

            {% if author.website %}
            <p><strong>Web:</strong> <a href="{{ author.website }}" target="_blank">{{ author.website }}</a></p>
            {% endif %}

            <p><a href="{% url 'view_authors_list' %}">← Volver a la lista de autores</a></p>
        
    </body>
</html>