<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width, initial-scale: 1.0">
        <title>Authors</title>
    </head>
    <body>
        <h1>Authors</h1>

            {% if message %}
                <p>{{ message }}</p>
                {% endif %}

        {%if authors_list%}
            <table>
            <tr>
                <td>ID</td>
                <td>NAME</td>
                <td>BIRTHDAY</td>
                <td>SLUG</td>
            </tr>
            {% for author in authors_list %}
            <tr>
                <td>{{author.id}}</td>
                <td><a href="{% url 'author_detail' slug=author.slug_author %}">{{author.name}}</a></td>
                <td>{{author.birth_date}}</td>
                <td>{{author.slug_author}}</td>
            </tr>
            {%endfor%}
            </table>
        {% else %}
            <p>No authors available.</p>
        {% endif %}
        
    </body>
</html>