<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=E, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>    This is a car list</h1>
    <ul>
                {% if message %}
                <p>{{ message }}</p>
                {% endif %}

        {% if car_list %}
            <table>
                <tr>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Color</th>
                    <th>Slug</th>
                </tr>
                {% for car in car_list %}
                    <tr>
                        <td>{{ car.title }}</td>
                        <td>{{ car.year }}</td>
                        <td>{{ car.color }}</td>
                        <td>{{ car.slug }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No cars available.</p>
        {% endif %}
    </ul>

</body>
</html>