<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=E, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>    This is a car list</h1>
    <ul>
        <table>
            <tr>
                <th>TITLE</th>
                {% comment %} <th>MODEL</th> {% endcomment %}
                <th>YEAR</th>
                <th>COLOR</th>
            </tr>
            
           
            {% for car in car_list %}
             <tr>
                <td>{{car.title}}</td>
                {% comment %} <td>{{car.model}}</td> {% endcomment %}
                <td>{{car.year}}</td>
                <td>{{car.color}}</td>
            </tr>
            {% endfor %}
        </table>
    </ul>

</body>
</html>