{% extends 'base.html'%}
{% load tailwind_filters %}
{% load static %}

{% block content %}


    <div class="container vh-100 d-flex align-items-center justify-content-center ">
        <div class="col-md-6 d-none d-md-block p-0 " >
            <img src="{% static 'users/images/login.jpg' %}" 
                alt="Image login"
                class="img-fluid h-100 w-100 object-fit-cover  content-login-form">
        </div>

        <div class="col-md-6 bg-white p-5 content-login-form " >
            <h2 class="login-title">Login</h2>
            <form method="post" id="login-form">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="mt-4 flex justify-center">
                    <button id="login-btn" type="submit"
                        class="mx-auto flex items-center justify-center relative overflow-hidden rounded-lg border border-yellow-800 px-8 py-3 focus:outline-none focus:ring-2 group">
                        
                        <!-- Fondo animado -->
                        <span class="absolute inset-y-0 left-0 w-[2px] bg-yellow-600 transition-all duration-300 group-hover:w-full"></span>

                        <!-- Contenido del botón (texto + spinner) -->
                        <div class="relative z-10 flex items-center gap-2">
                            <span id="btn-text" class="text-sm font-medium text-yellow-600 transition-colors group-hover:text-white">
                                Login
                            </span>
                            <span id="btn-spinner" class="hidden w-4 h-4 border-2 border-white border-t-transparent rounded-full animate-spin" role="status"></span>
                        </div>
                    </button>
                </div>
                <div class="text-center mt-4">
                    <p class="text-sm text-gray-600">
                        Don't have an account?
                        <a href="{% url 'register' %}" class="inline-block bg-yellow-600 hover:bg-yellow-500 text-white text-sm font-medium px-4 py-2 rounded transition-colors duration-300">
                            Sign up
                        </a>
                    </p>
                </div>
            </form>
        </div>
    </div>
{% endblock %} 